{% extends 'base.html' %}
{% block title %}Show article number{% endblock %}
{% block content%}
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-6">
                <h1>Show Artilce</h1>
            </div>
            <div class="col-md-6 text-end"><a href="{% url 'list_of_articles' %}" class="btn btn-link">Back to List</a></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="badge bg-primary my-2">{{article.category.name}}</span>
                <h2 class="my-3">{{article.title}}</h2>
                <p class="my-3">{{article.description}}</p>
            </div>
            <hr>
            <ul>
                {% for tag in article.tags.all %}
                    <li>{{ tag.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock%}